torch
tensorflow
numpy
scikit-learn
pandas
matplotlib
seaborn
tqdm

# Extra
segmentation-models
albumentations
opencv-python
wandb

# Export to ONNX
tf2onnx
onnx

# Open-NMT
OpenNMT-py
pyrouge
git+git://github.com/NVIDIA/apex.git@700d6825e205732c1d6be511306ca4e595297070
sentencepiece>=0.1.94
subword-nmt>=0.3.7
